<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head  runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TEST</title>
    <link href="css/styleR.css" rel="stylesheet" type="text/css" />
    <link href="css/result.css" rel="stylesheet" type="text/css" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />


	<link href="res/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="res/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="res/jqPaginator.min.js" type="text/javascript"></script>
    <link href="res/myPage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function loadData(num) {
            $("#PageCount").val("89");
        }
    </script>
</head>
<body>
<div id="container">
<div id="hd" class="ue-clear">
    <div class="logo"></div>
	<!--
    <div class="inputArea">
        <input type="text" class="searchInput" />
		
        <input type="button" style="background(images/page_icons.svg) no-repeat;"/>

    </div>         -->
	<div class="input-group input-group-lg" style="width: 50%;">
          <input type="text" class="form-control" placeholder="输入关键词" aria-describedby="sizing-addon1" style="30%;">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="background:url(images/search.png) no-repeat center;width: 55px;"></button>
          </span> </div>
</div>
<div class="nav">

</div>
<div id="bd" class="ue-clear">
<div id="main">

<div class="resultArea">
    <p class="resultTotal">
        <span class="info">找到约&nbsp;<span class="totalResult">2,608,495</span>&nbsp;条结果(用时<span class="time">0.36</span>秒)，共约<span class="totalPage">1900</span>页</span>
                    <span class="orderOpt">
                    	<a href="javascript:;" class="byTime">按时间排序</a>
                        <a href="javascript:;" class="byDependence">按相关度排序</a>
                    </span>
    </p>
    <div class="resultList">

	{% for it in list %}
        <div class="resultItem">
            <div class="itemHead">
                <a href="{{it['url']}}"  target="_blank" class="title">{{it['title']}}<span class="keyWord">UI设计</span></a>
                <span class="divsion">-</span>

                            <span class="dependValue">
                            	<span class="label">相关度：</span>
                                <span class="value">91.78%</span>
                            </span>
            </div>
            <div class="itemBody">
               XXXXXXXXXXX<span class="keyWord">UI设计</span>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            </div>
            <div class="itemFoot">
                            <span class="info">
                            	<label>发布时间：</label>
                                <span class="value">2013-12-12 12:12</span>
                            </span>
            </div>
        </div>
	{% endfor %}
	
    </div>
	
    <!-- 分页 -->
    <div class="pagination ue-clear"></div>
    <!-- 相关搜索 -->
    <div class="dependSearch ue-clear">
        <h6>相关搜索</h6>
        <div class="searchList">
            <p>
                <a href="javascript:;">UI设计</a>
                <a href="javascript:;">UI设计师</a>
                <a href="javascript:;">图标设计</a>
                <a href="javascript:;">设计师</a>
            </p>
            <p>
                <a href="javascript:;">后台界面</a>
                <a href="javascript:;">管理系统界面</a>
                <a href="javascript:;">界面欣赏</a>
                <a href="javascript:;">交互设计</a>
            </p>
        </div>
    </div>


</div>
<div class="historyArea">
    <div class="hotSearch">
        <h6>热门搜索</h6>
        <ul class="historyList">
            <li><a href="javascript:;">UI设计</a></li>
            <li><a href="javascript:;">界面设计</a></li>
            <li><a href="javascript:;">手机界面</a></li>
            <li><a href="javascript:;">交互</a></li>
            <li><a href="javascript:;">图标</a></li>
            <li><a href="javascript:;">UI素材</a></li>
            <li><a href="javascript:;">教程</a></li>
        </ul>
    </div>
    <div class="mySearch">
        <h6>我的搜索</h6>
        <ul class="historyList">
            <li><a href="javascript:;">专注界面设计网站</a></li>
            <li><a href="javascript:;">用户体验</a></li>
            <li><a href="javascript:;">互联网</a></li>
            <li><a href="javascript:;">UI设计师</a></li>
        </ul>
    </div>
</div>
</div><!-- End of main -->
</div><!--End of bd-->
</div>

<div id="foot">Copyright &copy;bbbbbbbbjm</div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/pagination.js"></script>
<script type="text/javascript">
    $('.searchList').on('click', '.searchItem', function(){
        $('.searchList .searchItem').removeClass('current');
        $(this).addClass('current');
    });



    $.each($('.subfieldContext'), function(i, item){
        $(this).find('li:gt(2)').hide().end().find('li:last').show();
    });

    $('.subfieldContext .more').click(function(e){
        var $more = $(this).parent('.subfieldContext').find('.more');
        if($more.hasClass('show')){

            if($(this).hasClass('define')){
                $(this).parent('.subfieldContext').find('.more').removeClass('show').find('.text').text('自定义');
            }else{
                $(this).parent('.subfieldContext').find('.more').removeClass('show').find('.text').text('更多');
            }
            $(this).parent('.subfieldContext').find('li:gt(2)').hide().end().find('li:last').show();
        }else{
            $(this).parent('.subfieldContext').find('.more').addClass('show').find('.text').text('收起');
            $(this).parent('.subfieldContext').find('li:gt(2)').show();
        }

    });

    $('.sideBarShowHide a').click(function(e) {
        if($('#main').hasClass('sideBarHide')){
            $('#main').removeClass('sideBarHide');
            $('#container').removeClass('sideBarHide');
        }else{
            $('#main').addClass('sideBarHide');
            $('#container').addClass('sideBarHide');
        }

    });

    //分页
    $(".pagination").pagination(500, {
        current_page :0, //当前页码
        items_per_page :9,
        display_msg :true,
        callback :pageselectCallback
    });
    function pageselectCallback(page_id, jq) {
        alert("当前页id(由0开始)：" + page_id + "，\n每页显示：" + this.items_per_page + "条数据");
    }

    setHeight();
    $(window).resize(function(){
        setHeight();
    });

    function setHeight(){
        if($('#container').outerHeight() < $(window).height()){
            $('#container').height($(window).height()-33);
        }
    }
</script>
</html>